body{background-color:#FEF9FD ;}
.top {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}

.top1 {
  margin-left: 4%;
}

.middle {
  position: relative;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
}

.middle2 {
  margin-left: 1%;
}

h1 {
  font-style: italic;
  background-color: #55ACDA;
  text-align: center;
  font-weight: bold;

}

h2 {
  background-color: pink;
  color: white;
  font-weight: bold;
}

h3 {
  color: #17356F;
  font-weight: bold;
}

ol {
  color: #17356F;
}
.mat{color: #17356F;
    font-weight: bold;
    font-size: 18.72px;
    border: 3px solid powderblue;
    margin-right: 80%;
    border-style: dashed;
}
.matt{
    font-weight: bold;
    font-size: 18.72px;

}

.hh3{margin-left: 10%;
width: 20%;
}


.hr1 {
  border-top-style: hidden;
  border-color: lightblue;
  margin-right: 80%;
  border-width: thick;
}

.hr2 {
  border-top-style: hidden;
  border-color: lightblue;
  margin-right: 80%;
  border-width: thick;
}

.hr3 {
  border-style: dashed;
  border-width: thick;
  border-top-style: hidden;
  color: lightblue;
  margin-right: 90%;
}

.image {

  border: 5px solid pink;
  border-radius: 15px;

  float: right;
}
.desjardin{
float: right;
margin-right: 50%;
}

.t {
  position: relative;
  display: block;
  margin-left: 10%;
  margin-right: 10%;

}
.tt {

  display: block;
  margin-left: 10%;
  margin-right: 10%;


}
.ttt {
  display: block;
  margin-left: 25%;
  margin-right: 10%;
  width: 30%;}

.bell{float: left;
margin-left: 2%}

.bottom {
  position: relative;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: auto;
}
